@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


html {
	box-sizing: border-box;
}

/* 整體初始設定 */
body {
	/* font-family: "NotoSansTC-Black"; */
	font-family: 'Noto Sans TC', sans-serif;
	/* font-weight:1500; */
	font-size: 130%;
	color: #fff;
	overflow: hidden;
}

/* 目錄 */
#page_list{
	line-height: 250%;
	font-weight: bold;
}

/* 定義超鏈結 */
a.list_link:any-link{
	color: #102B6E;  
	text-decoration: none;
	font-size: 120%;
}

/* 定義超鏈結滑鼠移上去時觸發 */
a.list_link:hover {
	text-decoration: underline;
}

/* 表格超鏈結 */
a.list_link2:any-link{
	color: #6B9DDB;
	text-decoration: none;
	font-size: 110%;
}

/* 表格超鏈結滑鼠移上去時觸發 */
a.list_link2:hover {
	text-decoration: underline;
}

/* 類別定義表頭 */
th.tool_table_void_title{
	/* font-family: "NotoSansTC-Bold"; */
	/* font-family: "NotoSansTC-Bold"; */
	color: 	#FFF3EE;
	background-color:  #DB6E00;
	font-style: italic;
	text-align: left;
	font-size: 150%;
}

/* 類別定義內文 */
td.tool_table_void_content{
	/* font-family: "NotoSansTC-Bold"; */
	/* font-family: "NotoSansTC-Bold"; */
	color: 	#0E8F84;
	font-style: italic;
	text-align: left;
	font-size: 110%;
	line-height: 140%;
}

/* 類別定義內文強調字眼 */
span.tool_table_void_content_focus{
	font-size: 110%;
	font-weight: bold;
}


/* 列表表頭 */
th.tool_table_tilte{
	/* font-family: "NotoSansTC-Bold"; */
	/* font-family: "NotoSansTC-Bold"; */
	color: 	#FFF3EE; 
	background-color:  #F53D46;
	font-style: italic;
	text-align: left;
	font-size: 150%;
}


/* 列表內文 */
td.tool_table_content{
	color: 	#0E8F84; 
	font-size: 110%;
	line-height: 250%;
}